<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2> Edit disabled </h2>
<form method="post" action="/register" th:object="${userObject}">
    <input type="text" name="username" placeholder="username" disabled="disabled" th:field="*{username}">
    <br/>
    <input type="password" name="password" placeholder="password" th:field="*{password}">
    <br/>
    <input type="submit" value="login">
</form>
</body>
</html>